
/** Home Post */
.home-post {
    width: 938px;
    border: 1px solid black;
    height: 615px;
    position: relative;
    margin-top: 50px;
  
    .tag {
      width: 382px;
      height: 62px;
      border: 1px solid black;
      position: absolute;
      top: -32px;
      left: -1px;
      font-family: title-1;
      background: #fffffd;
      font-size: 28px;
    }
    .time {
      font-size: 12px;
      color: grey;
    }
    .title {
      margin-top: 20px;
      font-size: 28px;
      font-weight: bold;
      color: black;
    }
    .text-info {
      display: flex;
      flex-direction: column;
      flex-direction: flex-start;
      text-align: left;
      padding: 42px 47px 13px;
    }
  
    .description {
      font-size: 16px;
      margin-top: 20px;
      color: grey;
    }
  
  }
  
  
  .normal-post {
    width: 450px;
    border: 1px solid black;
    cursor: pointer;
    .time {
      font-size: 12px;
      color: grey;
    }
    .title {
      margin-top: 20px;
      font-size: 26px;
      font-weight: bold;
      
    }
    .text-info {
      display: flex;
      flex-direction: column;
      flex-direction: flex-start;
      text-align: left;
      padding: 24px 29px 7px;
      color: black;
    }
  
    .text-info:hover {
      color:rgb(102, 0, 234)
    }
  
    .description {
      font-size: 16px;
      margin-top: 20px;
      font-weight: 300;
    }
  
  }
  
  .lastest-post {
    width: 573px;
    height: 342px;
    border: 1px solid black;
    display: inline-flex;
    cursor: pointer;
    .time {
      font-size: 12px;
      color: grey;
    }
    .title {
      margin-top: 20px;
      font-size: 23px;
      font-weight: bold;
      
    }
    .text-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-direction: flex-start;
      text-align: left;
      padding: 40px 48px 37px;
      color: black;
    }
  
    .text-info:hover {
      color:rgb(102, 0, 234)
    }
  
    .description {
      font-size: 16px;
      margin-top: 20px;
      font-weight: 300;
    }
  
  }
  
  